{{ attach_library('fast_models/f_news_filter_section') }}
{% if content %}
<section class="filter-section-fnews ">
    <div class="container">
        <div class="filter-section">
            <div class="btn btn-warning hide-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">

                    <path
                          d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z" />
                </svg>
            </div>
            <div class="filter-section__input ">
                <h5 class="filter-title">product name</h5>
                <input type="text" class="form-control filter-input">
            </div>
            <div class="filter-section__check row ">
                <div class="col-12 col-lg-6 ">
                    <h5 class="filter-title col-12">product name</h5>

                    <div class="col-12 d-flex flex-wrap p-0 list-checked">
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">hats</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Others</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1"> Souvenirs</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Technology</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <h5 class="filter-title col-12">tags</h5>

                    <div class="col-12 d-flex flex-wrap p-0 list-checked">
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Black</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Others</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1"> Souvenirs</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Breaking</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Technology</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Camera</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Economy</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Electricity</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">featured</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Fitness</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Gaming</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Gaming consoles</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Gold</label>
                        </div>

                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">football</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">news</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">swims</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Technology</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">hearth</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">vidéo</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">tennis</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">photography</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">purple</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">red</label>
                        </div>

                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">animals</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Science</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Wind Power</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">tennis</label>
                        </div>
                        <div class=" form-check filter-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">tennis</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="apply-btn btn btn-warning">apply</button>



    </div>
</section>
<div class="container">
    <span class="filter-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">

            <path
                  d="M3.853 54.87C10.47 40.9 24.54 32 40 32H472C487.5 32 501.5 40.9 508.1 54.87C514.8 68.84 512.7 85.37 502.1 97.33L320 320.9V448C320 460.1 313.2 471.2 302.3 476.6C291.5 482 278.5 480.9 268.8 473.6L204.8 425.6C196.7 419.6 192 410.1 192 400V320.9L9.042 97.33C-.745 85.37-2.765 68.84 3.854 54.87L3.853 54.87z" />
        </svg>
        filter
        <i class="btn-angle-right"></i>
    </span>
</div>
{% endif %}