{% if content %}
<div {{ attributes.addClass('list-article') }}>
    {% if content.articles_title %}
        <h5 {{ region_attributes.articles_title.addClass('list-article__title')}}>
            {{ content.articles_title }}
            Latest
        </h5>
    {% endif %}
    {% if content.articles_links %}
        {{ content.articles_links }}
    {% endif %}    
</div>
{% endif %}