{% if content %}
<section class="teaser-service-fnews">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 ">
                <div class="teaser-service">
                    <div class="">
                        <a href="#" class="teaser-service__img ">
                            <img src="https://demo.morethanthemes.com/flashyplus-news8/default/sites/default/files/styles/mt_large/public/2019-07/mt-service-teaser-3.jpg?itok=-TumY7Ot"
                                 alt="">
                            <div class="date-show">
                                <span class="date-show__day">9</span>
                                <span class="date-show__date">july,2019</span>
                            </div>
                            <div class="tag-show">
                                <span class="tag-show__tag">green</span>
                                <span class="tag-show__tag">purple</span>
                            </div>
                        </a>
                    </div>
                    <div class="teaser-service__body ">
                        <ul class="head-nav">
                            <li> <a href="#" class="link-label">tristique</a></li>
                            <li> <a href="#" class="link-label">vitae</a></li>
                        </ul>
                        <a href="#" class="node-title">First Service</a>
                        <div class="node-price">$29.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}