{% if content %}
<div class="single-post">
	{% if content.teaser_fimage %}
	<div class="post-img-handler">
		<div class="link">
		    {{ content.teaser_fimage }}
		</div>		
	</div>
	{% endif %}
	<div class="info d-block">
		{% if content.teaser_ftext %}
		<h5 class="post-link">
			{{ content.teaser_ftext }}
		</h5>
		{% endif %}
		{% if content.teaser_fdate %}
		<div class="posted-date">
			{{ content.teaser_fdate }}
		</div>
		{% endif %}
	</div>
</div>
{% endif %}