{% if content %}

	<div {{ attributes.addClass('slide-control')}}>
		<div class="container-fluid slc-content">
			<div>
				<button class="sc-btn play-pause">
					<i class="wbu-pause"></i>
					<i class="wbu-play"></i>
				</button>
			</div>
			<div class="button-prev">
				<button class="sc-btn">
					<i class="wbu-angle-left"></i>
				</button>
			</div>
			<div class="button-next">
				<button class="sc-btn button-next">
					<i class="wbu-angle_right"></i>
				</button>
			</div>
			<div class="swiper-sc">
				{% if content.controls_content %}
					{{ content.controls_content }}
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}