{% if content %}
<div class="lal-item">
    <div class="lal-item__date">1 years ago</div>
    <h5 class="lal-item__title">
        <a href="#">
            Simple steps to spring clean your finances
        </a>
    </h5>
</div>
{% endif %}