{% if content %}
	<div class="more-card-item aos-init" data-aos="fade-up" data-aos-delay="200">
		{% if content.image %}
			<div class="mci-image">
				{{ content.image }}
			</div>

		{% endif %}
		<div class="card-body">
			{% if content.title %}
				<h5 class="card-title">
					{{ content.title }}
				</h5>
			{% endif %}
			{% if content.desc %}
				<div class="card-text">
					{{ content.desc }}
				</div>
			{% endif %}
			{% if content.read_more|has_value %}
				<div class="read-more">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveaspectratio="xMidYMid meet" viewbox="0 0 16 16">
						<g fill="currentColor">
							<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
						</g>
					</svg>
					{{ content.read_more }}
				</div>
			{% endif %}
		</div>


	</div>
{% endif %}